@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.nav .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.nav .left-nav a.logo {
  margin-right: 20px;
}

.nav .left-nav a {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: white;
  display: inline-block;
}

.nav .left-nav .nav-items {
  display: none;
}

.nav .left-nav .nav-items ul {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .left-nav .nav-items ul li {
  list-style: none;
}

.nav .left-nav .nav-items ul li a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #bac4cd;
}

.nav .left-nav .nav-items ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #bac4cd;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .left-nav .nav-items ul li a:hover::after {
  width: 100%;
}

.nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .right-nav a.login {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: white;
}

.nav .right-nav a.login::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #bac4cd;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav .right-nav a.login:hover::after {
  width: 100%;
}

.nav .right-nav .navFromRight i {
  color: white;
  cursor: pointer;
}

.items-responsive {
  position: fixed;
  z-index: 999;
  width: 70%;
  height: 100%;
  background: #bac4cd;
  right: -100%;
  border: none;
}

.items-responsive .closeBar {
  text-align: right;
  padding: 30px 10px;
}

.items-responsive .closeBar i {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.items-responsive a {
  display: block;
  padding: 15px;
  text-align: center;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
}

.items-responsive a:hover {
  background-color: #1C3046;
}

.items-responsive .nav-items ul li {
  list-style: none;
}

.container .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .jumbotron .sideLeft {
  background-color: #1C3046;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.container .jumbotron .sideLeft .title {
  margin-bottom: 30px;
}

.container .jumbotron .sideLeft .title p {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.container .jumbotron .sideLeft .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .jumbotron .sideLeft .description .line {
  background: #89e07d;
  width: 2px;
  height: 100%;
  margin-right: 20px;
}

.container .jumbotron .sideLeft .description p {
  font-size: 13px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  color: #bac4cd;
  display: inline-block;
}

.container .jumbotron .sideLeft .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.container .jumbotron .sideLeft .btn a {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .jumbotron .sideLeft .btn a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container .jumbotron .sideLeft .btn a.sign {
  background: #40aeda;
  color: white;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  margin-right: 20px;
}

.container .jumbotron .sideLeft .btn a.how {
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
}

.container .jumbotron .sideLeft .btn a.how:hover {
  background: white;
  color: black;
}

.container .jumbotron .sideRight {
  background: url(aesthetic.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .firstTitle {
  text-align: center;
  margin-top: 30px;
}

.container .firstTitle p {
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1C3046;
  display: inline-block;
}

.container .firstTitle p::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background-color: #40aeda;
  margin: 0 auto;
  margin-top: 10px;
}

.container .firstContent {
  margin: 50px 30px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .firstContent .leftSide {
  display: none;
  background: url(cafe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.container .firstContent .rightSide {
  width: 100%;
  height: 100%;
  background-color: #ECEFF2;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .firstContent .rightSide h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: #3e6da0;
  font-size: 20px;
  margin-bottom: 10px;
}

.container .firstContent .rightSide p.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 150px;
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.container .firstContent .rightSide p.description {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: #4b4c4d;
}

.container .secondTitle {
  text-align: center;
  margin-top: 30px;
}

.container .secondTitle p {
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1C3046;
  display: inline-block;
}

.container .secondTitle p::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  background-color: #40aeda;
  margin: 0 auto;
  margin-top: 10px;
}

.container .secondContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 30px;
}

.container .secondContent .firstPart, .container .secondContent .secondPart, .container .secondContent .thirdPart {
  margin: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 0.5px solid #ECEFF2;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .secondContent .firstPart .image, .container .secondContent .secondPart .image, .container .secondContent .thirdPart .image {
  width: 100%;
  text-align: center;
}

.container .secondContent .firstPart .image img, .container .secondContent .secondPart .image img, .container .secondContent .thirdPart .image img {
  width: 100%;
}

.container .secondContent .firstPart .description, .container .secondContent .secondPart .description, .container .secondContent .thirdPart .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .secondContent .firstPart .description h2, .container .secondContent .secondPart .description h2, .container .secondContent .thirdPart .description h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #1C3046;
  margin-bottom: 25px;
}

.container .secondContent .firstPart .description p, .container .secondContent .secondPart .description p, .container .secondContent .thirdPart .description p {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: #4b4c4d;
}

.container .thirdContent {
  background: url(overlay.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .thirdContent h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.container .thirdContent a {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #62d353;
  width: auto;
  margin: 30px auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .thirdContent a:hover {
  background-color: white;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container .fourthContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  height: auto;
}

.container .fourthContent .leftSide {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .fourthContent .leftSide .part1 {
  margin-bottom: 20px;
}

.container .fourthContent .leftSide .part1 h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #4c739b;
  text-align: left;
}

.container .fourthContent .leftSide .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0.5px 1px #4c749b67;
          box-shadow: 0px 0.5px 1px #4c749b67;
  border-radius: 10px;
  padding: 20px 0px 0px 10px;
}

.container .fourthContent .leftSide .part2 .column1 {
  width: 100%;
}

.container .fourthContent .leftSide .part2 .column1 .col1, .container .fourthContent .leftSide .part2 .column1 .col2, .container .fourthContent .leftSide .part2 .column1 .col3 {
  margin-bottom: 20px;
  color: #4c739b;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.container .fourthContent .leftSide .part2 .column2 {
  width: 2px;
  height: auto;
  background-color: #919991;
  margin-bottom: 20px;
}

.container .fourthContent .leftSide .part2 .column3 {
  width: 100%;
  padding-left: 20px;
}

.container .fourthContent .leftSide .part2 .column3 .col1, .container .fourthContent .leftSide .part2 .column3 .col2, .container .fourthContent .leftSide .part2 .column3 .col3 {
  margin-bottom: 20px;
  color: #4c739b;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.container .fourthContent .leftSide .part3 {
  margin: 30px 10px 10px 10px;
}

.container .fourthContent .leftSide .part3 h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #4c739b;
  font-size: 18px;
  text-align: left;
}

.container .fourthContent .leftSide .part3 p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #588cb8;
  margin-top: 20px;
  text-align: left;
}

.container .fourthContent .rightSide {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.container .fourthContent .rightSide img {
  width: 80%;
}

.container .footer {
  text-align: center;
  padding: 20px;
  background-color: #bac4cd;
  margin-top: 100px;
  width: 100%;
}

.container .footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: white;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
}

@media screen and (min-width: 720px) {
  .nav .left-nav .nav-items {
    display: block;
  }
  .nav .right-nav {
    width: 80px;
  }
  .nav .right-nav a.login {
    display: block;
  }
  .container .jumbotron .sideLeft {
    width: 70%;
    padding: 0px 100px;
  }
  .container .jumbotron .sideRight {
    display: block;
    width: 100%;
  }
  .container .firstTitle p, .container .secondTitle p {
    font-size: 30px;
  }
  .container .firstContent {
    margin: 50px 140px;
  }
  .container .firstContent .leftSide {
    display: block;
  }
  .container .firstContent .rightSide {
    padding: 10px 100px;
  }
  .container .secondContent {
    margin: 50px 140px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .secondContent .firstPart .image img, .container .secondContent .secondPart .image img, .container .secondContent .thirdPart .image img {
    width: 100%;
  }
  .container .thirdContent {
    text-align: left;
    padding-left: 100px;
  }
  .container .thirdContent a {
    margin-left: 0;
  }
  .container .fourthContent {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 140px 0px 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .fourthContent .leftSide {
    margin-right: 50px;
  }
  .container .fourthContent .leftSide .part1 h1 {
    font-size: 25px;
  }
  .container .fourthContent .leftSide .part2 .column1 {
    padding-left: 0px;
    text-align: center;
  }
  .container .fourthContent .leftSide .part2 .column3 {
    padding-left: 0px;
    text-align: center;
  }
  .container .fourthContent .rightSide img {
    width: 100%;
  }
  .items-responsive {
    width: 20%;
  }
  .items-responsive .nav-items {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */